.swiper-wrapper {
  min-height: 600px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
}

.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  border: 1px solid #02175d;
}
.swiper-pagination-bullet-active {
  background-color: #02175d !important;
}

.swiper-slide {
  padding: 20px 0;
}


